# --- General ---
PORT=3000

# --- PostgreSQL ---
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=users_db

# --- RabbitMQ ---
# Формат: amqp://user:password@host:port
RABBITMQ_URL=amqp://user:password@localhost:5672
RABBITMQ_QUEUE=notification_queue

# --- Redis ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- External ---
# Твій лінк з webhook.site
WEBHOOK_URL=https://webhook.site/c1571187-001d-4ae4-8a58-bb634665d7d0